<h1>Feed from Codes!</h1>

<%= link_to "Add Code", new_code_path %>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<div class="feeds">
  <% @codes.each do |code| %>
  	<div class="row">
  		<div class="span12">
		  <h4>Posted By: <%= code.coder.firstname + " " +  code.coder.lastname%></h4>
		  <%= code.created_at %>
		  <p><%= code.content %></p>
		  Language: <%= code.language %><br/>
		  
		  <%= link_to "Delete Code", code_path(code.id), method: :delete, data: { confirm: "Are you sure?" } %>
		   | 
		  <%= link_to "Edit Code", edit_code_path(code.id)  %>
		</div>
	</div>
  <% end %>
</div>
