<h1>Feed from Codes!</h1>

<%= link_to "Add Code", new_code_path %>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<ul>
  <% @codes.each do |code| %>
	  <li>
		  <strong>Posted By: <%= code.coder.firstname + " " +  code.coder.lastname%></strong><br/><br/>
		  <%= code.content %><br/><br/>
		  Language: <%= code.language %><br/>
		  <%= code.created_at %><br/>
		  <%= link_to "Delete Code", code_path(code.id), method: :delete, data: { confirm: "Are you sure?" } %>
		   | 
		  <%= link_to "Edit Code", edit_code_path(code.id)  %>
		  <hr>
      </li>

  <% end %>
</ul>